
<h1>users#index</h1>
<div class="container">
   <div class="row">


     <div class="col-lg-4" style="background-color: orange;">

    <h3>Name</h3>
     <%= @user.name %>
  <h3>introduction</h3>
     <%= @user.introduction %>

   <% if @user == current_user %>
   <%= link_to icon('fas','user-cog',''),edit_user_path(@user.id), class: 'nav-link text-black' %>
  <% end %>


      <h3>New Book</h3>
         <%= form_with model: @book do |f| %>
            <h4>Title</h4>
            <%= f.text_field :title %>
            <h4>Opinion</h4>
          <%= f.text_area :body %>

          <%= f.submit 'Create Book', class:"btn btn-success" %>
        <% end %>
     </div>

     <div clas="col-lg-8">
     <table class="table table-striped">

  <tr>
  <td>name</td>
<% @users.each do |user| %>

  <td><%= user.name %></td>
  <td><%= link_to "show", user_path(user.id) %></td>
</tr>
<% end %>
</table>

</div>
</div>
</div>