
  <div>
        <%= flash[:signed_up] %>
        <%= flash[:successful] %>
        <%= flash[:booksuccess] %>
  </div>

<% if @book.errors.any? %>
   <ul class="alert alert-danger" role="alert">
    <h6 class="alert-heading">
    <%= @book.errors.count %>error prohibited this obj from being saved:
    </h6>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>



<p id="notice"><%= notice %></p>
 <h2>User info</h2>
  <div class="container">
   <div class="row">

  <div class="col-md-3" >

   <h3>Name</h3>
  <%= @user.name %>
  <h3>Introduction</h3>
  <%= @user.introduction %>
  <h3>Image</h3>
　<%= image_tag @user.get_profile_image(100,100) %>

  <% if @user == current_user %>
  <%= link_to icon('fas','user-cog',''),edit_user_path(@user.id), class: "nav-link btn btn-outline-secondary" %>
  <% end %>


    <h3>New book</h3>
         <%= form_with model: @book do |f| %>
            <h4>Title</h4>
            <%= f.text_field :title %>
            <h4>Opinion</h4>
          <%= f.text_area :body %>
          <%= f.submit 'Create Book', class:"btn btn-success" %>
        <% end %>
     </div>



   <div class="col-md-8">
   <h2>Books</h2>
    <table class="table table">
   <thead>
        <tr>
         <th colapan="3"></th>
         <th>Title</th>
         <th>Opinion</th>
        </tr>
    </thead>

   <tbody>
     <% @books.each do |book| %>
      <td><%= image_tag book.user. get_profile_image(100,100) %></td>
      <td><%= link_to book.title, book_path(book.id) %></td>
      <td><%= book.body %></td>
</tbody>
   </div>
    <% end %>
　　</table>
    </div>
    </div>
    </div>
    </div>


